@import 'vars';

body {
  // font-family: 'Helvetica', sans-serif;
  // font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  // color: $gray-0 !important;
}

.money-text {
  font-family: 'IBM Plex Mono', monospace;
}

.money-text-lg {
  @extend .money-text;
  font-size: $font-5;
}

.red-text {
  color: $error-2;
}

.black-text {
  color: $gray-0;
}

.gray-border {
  border: 2px solid $gray-7;
}

h1 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  // font-size: $font-8;
  color: $gray-1;
  // text-align: center;
}

h2 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  // font-size: $font-6;
  color: $gray-1;
}

h3 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  // font-size: $font-4;
  color: $gray-2;
}

h4 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  // font-size: $font-4;
  color: $gray-2;
}

.main {
  .header {
    display: flex;
    background-color: white;
    top: 0;
    z-index: 100;
  }
  .content {
    padding: $spacing-4;
    .default-action-buttons {
      margin-bottom: $spacing-5;
      .btn {
        padding: $spacing-4;
        height: auto;
      }
    }
  }
}

.btn.btn-secondary {
  @include button-outline-variant($support-5);
}
.btn.btn-warning-4 {
  @include button-outline-variant($warning-3);
}
.btn.btn-success-outline {
  @include button-outline-variant($success-5);
}

#the-sidebar {
  padding: $spacing-4;
  background-color: $gray-9;
  color: $gray-0;
  width: 255px;
  h1 {
    font-size: $font-6;
  }
  h2 {
    font-size: $font-5;
  }
  h3 {
    font-size: $font-3;
  }
}
